body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:103px;
  width:375px;
  height:667px;
  display:flex;
}
#u1345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:103px;
  width:375px;
  height:32px;
  display:flex;
}
#u1347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:112px;
  width:27px;
  height:13px;
  display:flex;
}
#u1355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:116px;
  width:17px;
  height:5px;
  display:flex;
}
#u1356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:116px;
  width:4px;
  height:5px;
  display:flex;
}
#u1357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel 常规体', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:110px;
  width:65px;
  height:17px;
  display:flex;
  font-family:'Hel 常规体', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:111px;
  width:51px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1359 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:111px;
  width:65px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:720px;
  width:374px;
  height:50px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:733px;
  width:53px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:733px;
  width:45px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u1364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:733px;
  width:49px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:733px;
  width:47px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:234px;
  width:49px;
  height:32px;
  display:flex;
}
#u1367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:269px;
  width:45px;
  height:21px;
  display:flex;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:352px;
  width:49px;
  height:25px;
  display:flex;
}
#u1369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:295px;
  width:45px;
  height:23px;
  display:flex;
}
#u1370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:323px;
  width:45px;
  height:24px;
  display:flex;
}
#u1371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:28px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:241px;
  width:18px;
  height:18px;
  display:flex;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:190px;
  width:285px;
  height:464px;
  display:flex;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:163px;
  width:60px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u1374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1375 label {
  left:0px;
  width:100%;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:250px;
  width:225px;
  height:15px;
  display:flex;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1375_img.selected {
}
#u1375.selected {
}
#u1375_img.disabled {
}
#u1375.disabled {
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1375_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1376 label {
  left:0px;
  width:100%;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:292px;
  width:225px;
  height:15px;
  display:flex;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1376_img.selected {
}
#u1376.selected {
}
#u1376_img.disabled {
}
#u1376.disabled {
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1376_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1377 label {
  left:0px;
  width:100%;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:335px;
  width:225px;
  height:15px;
  display:flex;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1377_img.selected {
}
#u1377.selected {
}
#u1377_img.disabled {
}
#u1377.disabled {
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1378 label {
  left:0px;
  width:100%;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:376px;
  width:225px;
  height:15px;
  display:flex;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1378_img.selected {
}
#u1378.selected {
}
#u1378_img.disabled {
}
#u1378.disabled {
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:291px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:908px;
  width:401px;
  height:291px;
  display:flex;
  font-size:20px;
  text-align:left;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:50px;
  width:134px;
  height:29px;
  display:flex;
  font-size:25px;
}
#u1380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:845px;
  width:134px;
  height:29px;
  display:flex;
  font-size:25px;
}
#u1381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:103px;
  width:375px;
  height:667px;
  display:flex;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:103px;
  width:375px;
  height:32px;
  display:flex;
}
#u1384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:115px;
  width:6px;
  height:7px;
  display:flex;
}
#u1390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:112px;
  width:27px;
  height:13px;
  display:flex;
}
#u1392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:116px;
  width:17px;
  height:5px;
  display:flex;
}
#u1393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:116px;
  width:4px;
  height:5px;
  display:flex;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel 常规体', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:110px;
  width:65px;
  height:17px;
  display:flex;
  font-family:'Hel 常规体', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:111px;
  width:51px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1396 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:111px;
  width:65px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:720px;
  width:374px;
  height:50px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:733px;
  width:53px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:733px;
  width:45px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u1401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:733px;
  width:49px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:733px;
  width:47px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#999999;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:234px;
  width:49px;
  height:32px;
  display:flex;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:269px;
  width:45px;
  height:21px;
  display:flex;
}
#u1405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:352px;
  width:49px;
  height:25px;
  display:flex;
}
#u1406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:295px;
  width:45px;
  height:23px;
  display:flex;
}
#u1407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:323px;
  width:45px;
  height:24px;
  display:flex;
}
#u1408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:28px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:241px;
  width:18px;
  height:18px;
  display:flex;
}
#u1409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:190px;
  width:285px;
  height:464px;
  display:flex;
}
#u1410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:163px;
  width:60px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u1411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1412 label {
  left:0px;
  width:100%;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:250px;
  width:225px;
  height:15px;
  display:flex;
}
#u1412 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1412_img.selected {
}
#u1412.selected {
}
#u1412_img.disabled {
}
#u1412.disabled {
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1412_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1413 label {
  left:0px;
  width:100%;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:292px;
  width:225px;
  height:15px;
  display:flex;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1413_img.selected {
}
#u1413.selected {
}
#u1413_img.disabled {
}
#u1413.disabled {
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1413_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1414 label {
  left:0px;
  width:100%;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:335px;
  width:225px;
  height:15px;
  display:flex;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1414_img.selected {
}
#u1414.selected {
}
#u1414_img.disabled {
}
#u1414.disabled {
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1414_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1415 label {
  left:0px;
  width:100%;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:376px;
  width:225px;
  height:15px;
  display:flex;
}
#u1415 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1415_img.selected {
}
#u1415.selected {
}
#u1415_img.disabled {
}
#u1415.disabled {
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:209px;
  word-wrap:break-word;
  text-transform:none;
}
#u1415_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:237px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:533px;
  width:375px;
  height:237px;
  display:flex;
}
#u1416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:111px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:367px;
  width:115px;
  height:111px;
  display:flex;
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:50px;
  width:184px;
  height:29px;
  display:flex;
  font-size:25px;
}
#u1418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
